<div  style="background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/pf-s113-ak-5716_3.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=b0acdc8cf90e5a2a39a2899a1489f2dc); filter: blur(5px) sepia(100%) invert(80%) brightness(0.50) grayscale(100%); background-repeat: no-repeat; background-size: 100%; margin: -8px; padding: 8px; height: 100%; width: 100%;background-color: rgb(162, 162, 162); text-align: center;">
</div>
<div style="margin: -8px; text-align: center;">
  <div style="background-color: black; color: rgb(162, 162, 162); position: fixed; width: 25%; height: auto; border: 3px solid green; bottom: 40%; right: 37.5%;border-radius: 25px">
<h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
      style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; text-align: center; font-size: 20px; border-radius: 25px 25px 0px 0px;"
    />
  
</div>
<div>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
      style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; text-align: center; font-size: 20px;"
    />
  </div>
  <div >
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
      style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; text-align: center; font-size: 20px;"
    />
  </div>
  <div >
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; text-align: center; font-size: 20px;"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 90%; height: 40px; border-radius: 0px 0px 25px 25px; font-size: 20px;">
    Register
  </button>
</form>
<form action="/users/login">
  <input type="submit" value="Have An Account? Login" style=" background-color: rgb(162, 162, 162); border: 3px solid green; color: black; width: 45%; height: 30px; border-radius: 25px" />
</form>

  </div>
</div>